---
import { Icon } from 'astro-icon/components'
import HelpModal from '@/components/HelpModal.astro'
import NavigationMenu from '@/components/ui/NavigationMenu.astro'
import NavigationMenuLink from '@/components/ui/NavigationMenuLink.astro'
import NavigationMenuList from '@/components/ui/NavigationMenuList.astro'

import { t } from '@/i18n/ui'

const locale = Astro.params.locale || 'en'
const nextLocale = locale === 'en' ? 'zh' : 'en'
const nextLocaleIcon = {
  en: 'dinkie-icons:language-latin',
  zh: 'dinkie-icons:language-han',
}[nextLocale]

const currentPath = Astro.url.pathname
const isActive = (href: string) => href === currentPath
---

<div>
  <header class="sticky top-0 z-50 w-full bg-background">
    <div class="flex h-(--header-height) items-center px-3 lg:px-6">
      inogai
      <div class="flex-1"></div>
      <HelpModal />
      <NavigationMenu class="gap-0">
        <NavigationMenuList>
          <NavigationMenuLink
            href={`/${locale}/`}
            active={isActive(`/${locale}/`)}
            key="1"
          >
            {t('nav.home')}
          </NavigationMenuLink>

          <NavigationMenuLink
            href={`/${locale}/blog/`}
            active={isActive(`/${locale}/blog/`)}
            key="2"
          >
            {t('nav.blog')}
          </NavigationMenuLink>

          <NavigationMenuLink
            href={`/${locale}/credits/`}
            active={isActive(`/${locale}/credits/`)}
            key="3"
          >
            {t('nav.credits')}
          </NavigationMenuLink>

          <NavigationMenuLink
            href={`/${nextLocale}/`}
            active={isActive(`/${nextLocale}/`)}
            key="4"
          >
            <Icon name={nextLocaleIcon} />
            {t('nav.language')}
          </NavigationMenuLink>
        </NavigationMenuList>
      </NavigationMenu>
    </div>
  </header>
</div>
